<h1>The Gatopan Family (circa 103 b.c.)</h1>
<table>
  <thead>
    <% Person.column_names.each do |header| %>
      <th><%= header %></th>
    <% end %>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.id %></td>
        <td><%= person.name %></td>
        <td><%= link_to person.identifier, person_path(person.identifier) %></td>
        <td>
          <% if person.father %>
            <%= link_to person.father.name, person_path(person.father.identifier) %>
          <% end %>
        </td>
        <td>
          <% if person.mother %>
            <%= link_to person.mother.name, person_path(person.mother.identifier) %>
          <% end %>
        </td>
        <td><%= person.created_at.to_formatted_s(:long) %></td>
        <td><%= person.updated_at.to_formatted_s(:long) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
