<h1>The Gatopan Family (circa 103 b.c.)</h1>
<table>
  <thead>
    <% Person.column_names.each do |header| %>
      <th><%= header %></th>
    <% end %>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.id %></td>
        <td><%= person.name %></td>
        <td><%= link_to person.identifier, person_path(person.identifier) %></td>
        <td>
          <% unless person.father_id == nil %>
          <% father_identifier = Person.find_by!(id: person.father_id).identifier %>
          <%= link_to person.father_id, person_path(father_identifier) %>
          <% end %>
        </td>
        <td>
          <% unless person.mother_id == nil %>
          <% mother_identifier = Person.find_by!(id: person.mother_id).identifier %>
          <%= link_to person.mother_id, person_path(mother_identifier) %>
          <% end %>
        </td>
        <td><%= person.created_at %></td>
        <td><%= person.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
