<h1><%= @person.name %></h1>
<table>
  <thead>
    <% Person.column_names.each do |header| %>
      <th><%= header %></th>
    <% end %>
  </thead>
  <tbody>
    <tr>
      <td><%= @person.id %></td>
      <td><%= @person.name %></td>
      <td><%= @person.identifier %></td>
      <td>
        <% if @person.father %>
          <%= link_to person.father.name, person_path(person.father.identifier) %>
        <% end %>
      </td>
      <td>
        <% if @person.mother %>
          <%= link_to person.mother.name, person_path(person.mother.identifier) %>
        <% end %>
      </td>
      <td><%= @person.created_at %></td>
      <td><%= @person.updated_at %></td>
    </tr>
  </tbody>
</table>
